@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

/*-------Header--------*/
a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0;
  height: 20vh;
}

@media (max-width: 960px) {
  header {
    top: 0;
  }
}

@media (max-width: 960px) {
  header .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (max-width: 767px) {
  header .nav-menu {
    width: 80%;
  }
}

@media (max-width: 960px) {
  header .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7rem;
}

header .navbar h1 {
  margin-left: 4rem;
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  color: #292828;
  font-size: 2.3rem;
}

header .navbar .hidden-link {
  display: none;
}

@media (max-width: 960px) {
  header .navbar .hidden-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 960px) {
  header .navbar .nav-item {
    display: none;
  }
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 960px) {
  header .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .navbar ul li {
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #535252;
  width: 100%;
}

@media (max-width: 960px) {
  header .navbar ul li {
    color: #e4d9d9;
    font-size: 1.5rem;
    padding: 15px 50px;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  header .navbar ul li:hover {
    background-color: #f05065;
  }
}

header .navbar .cart {
  position: relative;
}

header .navbar .cart .cart-qtd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -10px;
  left: 22px;
  background-color: #f1324c;
  color: #f8f2f2;
  padding: 3px 7px 3px 7px;
  font-size: 12px;
  border-radius: 5rem;
}

@media (max-width: 960px) {
  header .navbar .cart .cart-qtd {
    top: 3px;
    left: 70px;
    background-color: #f1324c;
  }
}

header .menu-icon {
  display: none;
  z-index: 1000;
}

@media (max-width: 960px) {
  header .menu-icon {
    display: block;
    margin-right: 3rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/*--------Dropdown---------*/
.dropdown-menu {
  display: inherit !important;
  width: 250px;
  position: absolute;
  top: 8vh;
  list-style: none;
  text-align: start;
}

@media (max-width: 960px) {
  .dropdown-menu {
    background-color: red;
  }
}

.shop-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535252;
}

@media (max-width: 960px) {
  .shop-link {
    display: none;
  }
}

.dropdown-menu li {
  background: #f1324c;
  cursor: pointer;
}

@media (max-width: 960px) {
  .dropdown-menu li {
    background-color: none;
  }
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f5ecec;
  padding: 16px;
}

.dropdown-link:hover {
  background: #f05065;
}

@media (max-width: 960px) {
  .dropdown-link:hover {
    background-color: gray;
  }
}

/*-------Landing page--------*/
.landing-page {
  position: relative;
  z-index: -1;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.landing-page .bg-left {
  position: relative;
  background: #f1324c;
}

.landing-page .bg-left .landing-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 40%;
  left: 4rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(41, 41, 40, 0.76);
}

.landing-page .bg-left .landing-txt h2 {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  font-weight: 100;
}

.landing-page .bg-left .landing-txt button {
  background: #f3eeee;
  background-color: #242222;
  border: solid 2px #242222;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f86b7e;
  padding: 0.7rem;
  letter-spacing: 1px;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
}

.landing-page .bg-right {
  position: relative;
  background: #f3f3f7;
}

.landing-page .bg-right .socials {
  position: absolute;
  right: 4rem;
  top: 40%;
}

.landing-page .bg-right .socials ul {
  list-style: none;
}

.landing-page .bg-right .socials ul li {
  margin-top: 1rem;
  color: #242222;
}

.landing-page .banner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.landing-page .banner img {
  max-height: 100%;
  max-width: 57%;
}

.landing-page .more-btn {
  font-size: 2.5rem;
}

/*-------Cards--------*/
.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}
/*# sourceMappingURL=App.css.map */