@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

// .App{
//   position: relative;
// }

//Vars
$xs-desktop: 960px;
$tablet: 767px;
$main-red: #f1324c;
$logo: "Fugaz One", cursive;

@mixin xs-desktop {
  @media (max-width: #{$xs-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin btn {
  cursor: pointer;
  background-color: #171818;
  border: none;
  border: solid 1px #171818;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f05065;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
  &:focus {
    outline: none;
  }
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

/*-------Header--------*/
a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0;
  //   display: flex;
  //   align-items: center;
  height: 20vh;
  //   background-color: #CF6766;
  @include xs-desktop {
    top: 0;
  }

  .nav-menu {
    @include xs-desktop {
      @include flexColumn();
      width: 50%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    @include tablet {
      width: 80%;
    }
  }

  .nav-menu.active {
    @include xs-desktop {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    h1 {
      margin-left: 4rem;
      font-family: "Fugaz One", cursive;
      text-transform: uppercase;
      color: rgb(41, 40, 40);
      // color: rgb(240, 245, 239);
      font-size: 2.3rem;
    }

    .hidden-link {
      display: none;
      @include xs-desktop {
        display: flex;
      }
    }

    .nav-item {
      @include xs-desktop {
        display: none;
      }
    }

    ul {
      display: flex;
      list-style: none;
      @include xs-desktop {
        justify-content: center;
      }

      li {
        // font-family: "IBM Plex Sans", sans-serif;
        margin-right: 3rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: rgb(83, 82, 82);
        width: 100%;
        @include xs-desktop {
          color: rgb(228, 217, 217);
          font-size: 1.5rem;
          padding: 15px 50px;
          font-weight: bold;
          letter-spacing: 2px;
          transition: 0.2s ease;
          &:hover {
            background-color: #f05065;
          }
        }
      }
    }

    .cart {
      position: relative;
      .cart-qtd {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -10px;
        left: 22px;
        background-color: $main-red;
        color: rgb(248, 242, 242);
        padding: 3px 7px 3px 7px;
        font-size: 12px;
        border-radius: 5rem;
        @include xs-desktop {
          top: 3px;
          left: 70px;
          background-color: $main-red;
        }
      }
    }
  }

  .menu-icon {
    display: none;
    z-index: 1000;
  }

  .menu-icon {
    @include xs-desktop {
      display: block;
      margin-right: 3rem;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
}

/*--------Dropdown---------*/
.dropdown-menu {
  display: inherit !important;
  width: 250px;
  position: absolute;
  top: 8vh;
  list-style: none;
  text-align: start;
  @include xs-desktop {
    background-color: red;
  }
}

.shop-link {
  display: flex;
  align-items: center;
  color: rgb(83, 82, 82);
  @include xs-desktop {
    display: none;
  }
}

.dropdown-menu li {
  background: $main-red;
  cursor: pointer;
  @include xs-desktop {
    background-color: none;
  }
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(245, 236, 236);
  padding: 16px;
}

.dropdown-link:hover {
  background: #f05065;
  @include xs-desktop {
    background-color: gray;
  }
}

/*-------Landing page--------*/
.landing-page {
  position: relative;
  z-index: -1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items: center;
  .bg-left {
    position: relative;
    background: $main-red;

    .landing-txt {
      @include flexColumn();
      align-items: center;
      position: absolute;
      top: 40%;
      left: 4rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: rgba(22, 22, 22, 0.76);
      // color: #22d8bd;
      h2 {
        text-transform: uppercase;
        // font-family: "Yanone Kaffeesatz", sans-serif;
        font-family: "Fjalla One", sans-serif;
        font-size: 4rem;
        letter-spacing: 5px;
        font-weight: bold;
      }

      span {
        color: rgb(62, 243, 219);
      }

      button {
        background: #f3eeee;
        background-color: #171818;
        border: none;
        border: solid 1px #171818;
        width: 100%;
        border-radius: 6rem;
        font-size: 1.2rem;
        color: #f05065;
        padding: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
      }
    }
  }

  .bg-right {
    position: relative;
    background: rgb(243, 243, 247);
    .socials {
      position: absolute;
      right: 4rem;
      top: 40%;
      ul {
        list-style: none;
        li {
          margin-top: 1rem;
          color: #242222;
        }
      }
    }
  }

  .landing-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    img {
      max-height: 100%;
      max-width: 57%;
    }
  }

  .more-btn {
    font-size: 2.5rem;
  }
}

/*-------Cards--------*/
.products-header {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  h1 {
    // font-family: "Yanone Kaffeesatz", sans-serif;
    text-transform: uppercase;
    // font-weight: 100;
    color: rgb(39, 38, 38);
    // border-bottom: dashed 1px rgb(201, 196, 196);
    letter-spacing: 2px;
  }
}

.see-more{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  button{
    @include btn();
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main-red;
    border:none;
    font-size: 1rem;
    color: rgb(226, 216, 216)
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 7rem;
  margin-top: 5rem;

  img {
    width: 320px;
  }
  .card {
    @include flexColumn();
    align-items: center;
    padding: 1rem;
    // margin: 0 auto;
    
    div {
      @include flexColumn();
      align-items: center;
      color: rgb(63, 62, 62);
      span {
        font-weight: bold;
      }
    }
    .preco {
      color: rgb(49, 48, 48);
      margin-top: 10px;
      // letter-spacing: 1px;
      font-size: 1.1rem;
      font-weight: 100;
    }

    .parcela{
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 10px;
      color: rgb(63, 62, 62);
    }
  }
}

/*------Banners--------*/
.banner {
  width: 100%;
  height: 70vh;
  background: $main-red;
  margin-top: 100px;
}

/*------Contact--------*/
.contact-container{
  margin-top: 140px;
  height: 100vh;
  @include flexColumn();
  align-items: center;

  h1{
    text-transform: uppercase;
    color: #151616;
  }

  span{
    color: #524f4f;
  }

  form{
    @include flexColumn();
    margin-top: 1rem;
    border: solid 2px rgb(217, 217, 223);
    padding: 4rem;
    // background: rgb(233, 225, 225);
    label{
      display: block;
    }
    .div{
      background-color: blue;
      width: 100%;
      height: 100%;
    }
    textarea,input{
      margin-bottom: 1rem;
      padding: 8px;
      height: 45px;
      border: none;
      outline: none;
      border-radius: 2px;
      border: solid 2px  rgb(196, 187, 187);
      background: transparent;
      width: 500px;
      transition: 0.1s ease-in;
       &:focus{
        border: 2px solid $main-red;
        box-shadow: 0 0 10px #1618185b;
        background-color: rgb(240, 232, 232);
      }
    }

    textarea{
      font-family: inherit;
      height: 220px;
    }

    button{
      margin-top: 1rem;
      @include btn();
      align-self: flex-start;
      width: 200px;
      background: $main-red;
      color: white;
      border: none;
    }
  }
}

/*----------Details-----------*/
.details-container {
  @include flexColumn();
  width: 85%;
  margin: 0 auto;
  margin-top: 140px;
  .product-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border: solid 1px #d1c8c8;
    .img-container {
      padding: 2rem;
      @include flexColumn();
      justify-content: center;
      .main-img {
        width: 350px;
        margin: 0 auto;
      }
      .img-options {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        img {
          cursor: pointer;
          width: 85px;
          border: solid 1px #d1c8c8;
          margin-right: 15px;
          padding: 0.7rem;
        }
      }
    }

    .info {
      @include flexColumn();
      justify-content: space-evenly;
      background: #ece6e6;
      border-left: solid 1px #d1c8c8;
      height: 600px;
      align-items: center;
      .carrinho-btn {
        @include flexColumn();
        align-items: center;
        .detalhe {
          margin-bottom: 0.5rem;
          color: rgb(77, 75, 75);
          font-size: 0.9rem;
        }
      }

      h1 {
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
        color: #242525;
        border-bottom: dashed 1px #8b8f8f;
      }

      .preco {
        @include flexColumn();
        align-items: center;
        border-bottom: dashed 1px #8b8f8f;
        span {
          font-family: "Fjalla One", sans-serif;
          font-size: 2.2rem;
          color: $main-red;
          letter-spacing: 1px;
          font-weight: bold;
          margin-top: 5px;
        }

        p {
          margin-top: 5px;
          color: rgb(77, 75, 75);
        }
      }

      button {
        cursor: pointer;
        @include btn();
        font-size: 1rem;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 1.5rem;
          margin-left: 5px;
        }
      }
    }
  }

  .hardware {
    display: flex;
    margin-top: 5rem;
    border-collapse: collapse;
    color: rgb(100, 100, 100);
    td {
      padding: 8px 255px 8px 6px;
    }
    table {
      width: 100%;
      margin-bottom: 5%;
    }
  }

  .hardware tr:nth-child(odd) {
    background: #e9e2e2;
  }
  .hardware tr:nth-child(even) {
    background: #f5f2f2;
  }

  th {
    display: flex;
    background: #f8f2f2;
    padding: 6px;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 2px;
    color: #353333;
  }
}

/*--------Cart------------*/
.cart-container {
  width: 85%;
  @include flexColumn();
  margin: 0 auto;
  // justify-content: space-between;
  margin-top: 140px;
  color: rgb(77, 75, 75);

  .hehe {
    width: 100%;
    align-items: center;
  }

  .cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(185, 178, 178);
    padding: 2rem;
    width: 100%;
    img {
      width: 120px;
    }
  }
  .delete {
    cursor: pointer;
    font-size: 2rem;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
    color: #242525;
  }

  .quantity {
    button {
      cursor: pointer;
      background-color: $main-red;
      border: none;
      color: white;
      padding: 6px;
      &:focus {
        outline: 0;
      }
    }
    .count {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  .total-price {
    align-self: flex-end;
    margin-top: 25px;
    h3 {
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    button {
      cursor: pointer;
      background: $main-red;
      border: none;
      color: rgb(235, 224, 224);
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 200px;
      padding: 1rem;
      border-radius: 6rem;
      box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
      &:focus {
        outline: 0;
      }
    }
  }
}

/*------Footer-------*/
footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  width: 100%;
  height: 20%;
  background-color: $main-red;
  margin-top: 10rem;
  padding: 4rem 0 4rem 0;
  color: rgb(31, 30, 30);
  .copyright {
    align-self: center;
    span {
      font-family: $logo;
      text-transform: uppercase;
      color: rgb(19, 18, 18);
      // font-weight: 100;
    }
  }
  .info {
    @include flexColumn();
    h2 {
      font-family: $logo;
      text-transform: uppercase;
      color: rgb(19, 18, 18);
      border-bottom: solid 1px rgb(26, 25, 25);
    }
    li {
      list-style: none;
      margin-top: 6px;
      a {
        text-decoration: none;
        color: rgb(31, 30, 30);
        &:hover {
          border-bottom: solid 1px rgb(31, 30, 30);
        }
      }
    }
  }

  .newsletter {
    .email {
      @include flexColumn();
      h3 {
        text-transform: uppercase;
        color: #151616;
        letter-spacing: 2px;
        font-size: 1.3rem;
        font-family: "Fjalla One", sans-serif;
      }
      input {
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px #171818;
        padding: 10px 0 0.5rem 2px;
        width: 220px;
        color: rgb(238, 229, 229);
        &::placeholder {
          color: rgb(38, 39, 38);
        }
        &:focus {
          outline: 0;
        }
      }

      button {
        cursor: pointer;
        margin-top: 10px;
        background-color: #171818;
        width: 150px;
        border: solid 2px #171818;
        color: #f05065;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0.5rem;
        border-radius: 6rem;
        box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
