@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

/*-------Header--------*/
a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0;
  height: 20vh;
}

@media (max-width: 960px) {
  header {
    top: 0;
  }
}

@media (max-width: 960px) {
  header .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (max-width: 767px) {
  header .nav-menu {
    width: 80%;
  }
}

@media (max-width: 960px) {
  header .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.7rem;
}

header .navbar h1 {
  margin-left: 4rem;
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  color: #292828;
  font-size: 2.3rem;
}

header .navbar .hidden-link {
  display: none;
}

@media (max-width: 960px) {
  header .navbar .hidden-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 960px) {
  header .navbar .nav-item {
    display: none;
  }
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media (max-width: 960px) {
  header .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .navbar ul li {
  margin-right: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #535252;
  width: 100%;
}

@media (max-width: 960px) {
  header .navbar ul li {
    color: #e4d9d9;
    font-size: 1.5rem;
    padding: 15px 50px;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  header .navbar ul li:hover {
    background-color: #f05065;
  }
}

header .navbar .cart {
  position: relative;
}

header .navbar .cart .cart-qtd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -10px;
  left: 22px;
  background-color: #f1324c;
  color: #f8f2f2;
  padding: 3px 7px 3px 7px;
  font-size: 12px;
  border-radius: 5rem;
}

@media (max-width: 960px) {
  header .navbar .cart .cart-qtd {
    top: 3px;
    left: 70px;
    background-color: #f1324c;
  }
}

header .menu-icon {
  display: none;
  z-index: 1000;
}

@media (max-width: 960px) {
  header .menu-icon {
    display: block;
    margin-right: 3rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/*--------Dropdown---------*/
.dropdown-menu {
  display: inherit !important;
  width: 250px;
  position: absolute;
  top: 8vh;
  list-style: none;
  text-align: start;
}

@media (max-width: 960px) {
  .dropdown-menu {
    background-color: red;
  }
}

.shop-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535252;
}

@media (max-width: 960px) {
  .shop-link {
    display: none;
  }
}

.dropdown-menu li {
  background: #f1324c;
  cursor: pointer;
}

@media (max-width: 960px) {
  .dropdown-menu li {
    background-color: none;
  }
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #f5ecec;
  padding: 16px;
}

.dropdown-link:hover {
  background: #f05065;
}

@media (max-width: 960px) {
  .dropdown-link:hover {
    background-color: gray;
  }
}

/*-------Landing page--------*/
.landing-page {
  position: relative;
  z-index: -1;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.landing-page .bg-left {
  position: relative;
  background: #f1324c;
}

.landing-page .bg-left .landing-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 40%;
  left: 4rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(22, 22, 22, 0.76);
}

.landing-page .bg-left .landing-txt h2 {
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
  letter-spacing: 5px;
  font-weight: bold;
}

.landing-page .bg-left .landing-txt span {
  color: #3ef3db;
}

.landing-page .bg-left .landing-txt button {
  background: #f3eeee;
  background-color: #171818;
  border: none;
  border: solid 1px #171818;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f05065;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
}

.landing-page .bg-right {
  position: relative;
  background: #f3f3f7;
}

.landing-page .bg-right .socials {
  position: absolute;
  right: 4rem;
  top: 40%;
}

.landing-page .bg-right .socials ul {
  list-style: none;
}

.landing-page .bg-right .socials ul li {
  margin-top: 1rem;
  color: #242222;
}

.landing-page .landing-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.landing-page .landing-img img {
  max-height: 100%;
  max-width: 57%;
}

.landing-page .more-btn {
  font-size: 2.5rem;
}

/*-------Cards--------*/
.products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
}

.products-header h1 {
  text-transform: uppercase;
  color: #272626;
  letter-spacing: 2px;
}

.see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.see-more button {
  cursor: pointer;
  background-color: #171818;
  border: none;
  border: solid 1px #171818;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f05065;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1324c;
  border: none;
  font-size: 1rem;
  color: #e2d8d8;
}

.see-more button:focus {
  outline: none;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 7rem;
  margin-top: 5rem;
}

.card-container img {
  width: 320px;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.card-container .card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f3e3e;
}

.card-container .card div span {
  font-weight: bold;
}

.card-container .card .preco {
  color: #313030;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 100;
}

.card-container .card .parcela {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
  color: #3f3e3e;
}

/*------Banners--------*/
.banner {
  width: 100%;
  height: 70vh;
  background: #f1324c;
  margin-top: 100px;
}

/*------Contact--------*/
.contact-container {
  margin-top: 140px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container h1 {
  text-transform: uppercase;
  color: #151616;
}

.contact-container span {
  color: #524f4f;
}

.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  border: solid 2px #d9d9df;
  padding: 4rem;
}

.contact-container form label {
  display: block;
}

.contact-container form .div {
  background-color: blue;
  width: 100%;
  height: 100%;
}

.contact-container form textarea, .contact-container form input {
  margin-bottom: 1rem;
  padding: 8px;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 2px;
  border: solid 2px #c4bbbb;
  background: transparent;
  width: 500px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.contact-container form textarea:focus, .contact-container form input:focus {
  border: 2px solid #f1324c;
  -webkit-box-shadow: 0 0 10px #1618185b;
          box-shadow: 0 0 10px #1618185b;
  background-color: #f0e8e8;
}

.contact-container form textarea {
  font-family: inherit;
  height: 220px;
}

.contact-container form button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: #171818;
  border: none;
  border: solid 1px #171818;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f05065;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 200px;
  background: #f1324c;
  color: white;
  border: none;
}

.contact-container form button:focus {
  outline: none;
}

/*----------Details-----------*/
.details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-top: 140px;
}

.details-container .product-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border: solid 1px #d1c8c8;
}

.details-container .product-details .img-container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-container .product-details .img-container .main-img {
  width: 350px;
  margin: 0 auto;
}

.details-container .product-details .img-container .img-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.details-container .product-details .img-container .img-options img {
  cursor: pointer;
  width: 85px;
  border: solid 1px #d1c8c8;
  margin-right: 15px;
  padding: 0.7rem;
}

.details-container .product-details .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #ece6e6;
  border-left: solid 1px #d1c8c8;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-container .product-details .info .carrinho-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-container .product-details .info .carrinho-btn .detalhe {
  margin-bottom: 0.5rem;
  color: #4d4b4b;
  font-size: 0.9rem;
}

.details-container .product-details .info h1 {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: #242525;
  border-bottom: dashed 1px #8b8f8f;
}

.details-container .product-details .info .preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: dashed 1px #8b8f8f;
}

.details-container .product-details .info .preco span {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.2rem;
  color: #f1324c;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 5px;
}

.details-container .product-details .info .preco p {
  margin-top: 5px;
  color: #4d4b4b;
}

.details-container .product-details .info button {
  cursor: pointer;
  cursor: pointer;
  background-color: #171818;
  border: none;
  border: solid 1px #171818;
  width: 100%;
  border-radius: 6rem;
  font-size: 1.2rem;
  color: #f05065;
  padding: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
  font-size: 1rem;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-container .product-details .info button:focus {
  outline: none;
}

.details-container .product-details .info button span {
  font-size: 1.5rem;
  margin-left: 5px;
}

.details-container .hardware {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  border-collapse: collapse;
  color: #646464;
}

.details-container .hardware td {
  padding: 8px 255px 8px 6px;
}

.details-container .hardware table {
  width: 100%;
  margin-bottom: 5%;
}

.details-container .hardware tr:nth-child(odd) {
  background: #e9e2e2;
}

.details-container .hardware tr:nth-child(even) {
  background: #f5f2f2;
}

.details-container th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f2f2;
  padding: 6px;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  color: #353333;
}

/*--------Cart------------*/
.cart-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 140px;
  color: #4d4b4b;
}

.cart-container .hehe {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-container .cart-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #b9b2b2;
  padding: 2rem;
  width: 100%;
}

.cart-container .cart-card img {
  width: 120px;
}

.cart-container .delete {
  cursor: pointer;
  font-size: 2rem;
}

.cart-container h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
  color: #242525;
}

.cart-container .quantity button {
  cursor: pointer;
  background-color: #f1324c;
  border: none;
  color: white;
  padding: 6px;
}

.cart-container .quantity button:focus {
  outline: 0;
}

.cart-container .quantity .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart-container .total-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 25px;
}

.cart-container .total-price h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.cart-container .total-price button {
  cursor: pointer;
  background: #f1324c;
  border: none;
  color: #ebe0e0;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 200px;
  padding: 1rem;
  border-radius: 6rem;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
}

.cart-container .total-price button:focus {
  outline: 0;
}

/*------Footer-------*/
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  width: 100%;
  height: 20%;
  background-color: #f1324c;
  margin-top: 10rem;
  padding: 4rem 0 4rem 0;
  color: #1f1e1e;
}

footer .copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .copyright span {
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  color: #131212;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .info h2 {
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  color: #131212;
  border-bottom: solid 1px #1a1919;
}

footer .info li {
  list-style: none;
  margin-top: 6px;
}

footer .info li a {
  text-decoration: none;
  color: #1f1e1e;
}

footer .info li a:hover {
  border-bottom: solid 1px #1f1e1e;
}

footer .newsletter .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter .email h3 {
  text-transform: uppercase;
  color: #151616;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-family: "Fjalla One", sans-serif;
}

footer .newsletter .email input {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #171818;
  padding: 10px 0 0.5rem 2px;
  width: 220px;
  color: #eee5e5;
}

footer .newsletter .email input::-webkit-input-placeholder {
  color: #262726;
}

footer .newsletter .email input:-ms-input-placeholder {
  color: #262726;
}

footer .newsletter .email input::-ms-input-placeholder {
  color: #262726;
}

footer .newsletter .email input::placeholder {
  color: #262726;
}

footer .newsletter .email input:focus {
  outline: 0;
}

footer .newsletter .email button {
  cursor: pointer;
  margin-top: 10px;
  background-color: #171818;
  width: 150px;
  border: solid 2px #171818;
  color: #f05065;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 6rem;
  -webkit-box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
          box-shadow: 4px 5px 15px rgba(12, 12, 12, 0.63);
}

footer .newsletter .email button:focus {
  outline: 0;
}
/*# sourceMappingURL=App.css.map */