@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

.App{
  margin: 0 auto;
  color: rgb(239, 242, 245);
  display: flex;
}
